<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1468276311594-df7cb65d8df6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);">
  <div class="container">
    <h1>World class remote software team</h1>
    <p>Work with developers who are professional, vetted and remote ready.</p>
    <a class="btn btn-flat" href="#">Get free consultation</a>
  </div>
</div>

